div.container
  a.changeLan(href="?language=#{lingua.oposite.code}")= lingua.oposite.name
  div.full-row
    h1
      span T
      | uiter
      span  F
      | ighter 
      span !

  a#howItWorksLnk= lingua.home.howItWorks

  div.full-row
    p.slogan= lingua.home.slogan
    
  div.full-row
    div.addFight
      input#wordLeft.locked(type="text",readonly="readonly", value="#{lingua.home.locked}", title="#{lingua.home.loading}...")
      span.vs= lingua.home.vs
      input#wordRight.locked(type="text",readonly="readonly", value="#{lingua.home.locked}", title="#{lingua.home.loading}...")
      button#go(style="display:none", title="#{lingua.home.goDesc}")= lingua.home.go

  div.full-row
    div#fighter-ctn
      canvas#canvasFight(width="800", height="480")
      div.bigcover.show
      div.loading.show= lingua.home.loading
      div.loadingP.show 0%

div#howItWorks
  div.wrapper
    a#howItWorksClose.close X
    h2.title= lingua.howTo.title
    p= lingua.howTo.purpose
    p= lingua.howTo.explains[0]
    | #{lingua.howTo.explains[1]}
    | #{lingua.howTo.explains[2]}
    p= lingua.howTo.remember
    h3= lingua.howTo.consider.title
    ul
      li= lingua.howTo.consider.items[0]
      li= lingua.howTo.consider.items[1]
      li= lingua.howTo.consider.items[2]
      li= lingua.howTo.consider.items[3]
    p.final= lingua.howTo.footer

script(src='js/libs/jquery.min.js', type='text/javascript')
script(src='js/tuiterFighter-0.1.4.min.js', type='text/javascript')
script(src='js/index.js', type='text/javascript')
